@model List<ProductDto>
@{
    ViewData["Title"] = "Products";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Products</title>
</head>
<body>
    <div class="panel-body">
        <h2>Products</h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody class="overout" >
                @foreach ( var r in Model.OrderBy(s => s.ProductName))
                {
                    <tr>
                        <td>@r.ProductName</td>
                        <td>@r.Description</td>
                        <td><a asp-controller="Shop" asp-action="GetAll">Back To Shops</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>


@section Scripts{ 
    <script>
$("tbody.overout")
    .hover(function() {
        $(this).css("background-color","#c2c6b3");
    }, function() {
        $(this).css("background-color","white");
    });
    </script>
} 

